<div id="tasks"></div>

<script type="text/javascript">
  
  $(function() {
    // Todos is the app name
    //window.router = new Todos.Routers.TodosRouter({todos: #{@todos.to_json.html_safe}});
    //Backbone.history.start();
    window.router = new Todos.Routers.TodosRouter({posts: <%= @todos.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
